<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Spotify Album Shuffler</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <header>
            <h1>Spotify Back2Back Album Shuffler</h1>
            <img
                class="github-logo"
                src="resources/GitHub-Mark-Light-64px.png"
                alt="GitHub logo"
                height="64"
                width="64"
            />
            <div class="login-to-spotify">
                <span class="account-text">Connect Spotify Account</span>
                <img
                    class="spotify-logo"
                    src="resources/Spotify_Icon_RGB_Green.png"
                    height="48"
                    width="48"
                />
            </div>
        </header>
        <div class="content">
            <h3>Your Back-to-back Album playlists:</h3>
            <div class="b2b-list">
                <div class="b2b-item">
                    <div class="b2b-artwork">
                        <img
                            alt="Red Cover Art"
                            class="cover-art"
                            src="resources/red-taylors-version.jpeg"
                            height="150"
                            width="150"
                        />
                        <span class="b2b-refresh">Refresh</span>
                        <span class="b2b-shuffle">Shuffle</span>
                    </div>
                    <div class="b2b-playlisttitle">Red</div>
                </div>
                <div class="b2b-item">
                    <div class="b2b-artwork">
                        <img
                            alt="Red Cover Art"
                            class="cover-art"
                            src="resources/red-taylors-version.jpeg"
                            height="150"
                            width="150"
                        />
                        <span class="b2b-refresh">Refresh</span>
                        <span class="b2b-shuffle">Shuffle</span>
                    </div>
                    <div>Red</div>
                </div>
            </div>
            <h3>Your other playlists:</h3>
        </div>
    </body>
</html>
